.search {
    position: relative;
}

.searchInput {
    width: 230px;
    height: 36px;

    padding: 7px 15px;

    color: #A4A4A4;
    border-color: transparent;
    border-radius: 5px;

    background: var(--white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

    font-size: 16px;
    line-height: 22px;
}

.searchInput::placeholder {
    color: #A4A4A4;

    font-size: 16px;
    line-height: 22px;
}

.searchInput::placeholder:-ms-input-placeholder {
    color: #A4A4A4;

    font-size: 16px;
    line-height: 22px;
}

.searchInput::placeholder::-ms-input-placeholder {
    color: #A4A4A4;

    font-size: 16px;
    line-height: 22px;
}

.searchInput::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.searchInput:focus {
    outline: none;
}

.searchButton {
    position: absolute;
    top: 50%;
    right: 3px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    padding: 0;

    cursor: pointer;

    transform: translate(0, -50%);

    border-color: transparent;
    border-radius: 5px;
    background-color: var(--primary);
}
