:root {
    --black: #3B434E;
    --white: white;
    --gray-light: #EBEBEB;
    --gray-dark: #787D85;
    --primary: #7653FC;
    --primary-hover: #5D15EC;
    --red: #FC836D;
    --green: #1DC37E;
    --green-light: #C8F8E4;
    --background: #E5E5E5;
    --font-family: 'Noto Sans KR', sans-serif;

    --search-input: {
        color: var(--gray-light);

        font-size: 16px;
        line-height: 22px;
    }
}

html,
body {
    margin: 0;
    padding: 0;

    color: var(--black);

    background-color: var(--background);

    font-family: var(--font-family);
}

a {
    text-decoration: none;

    color: inherit;
}

* {
    box-sizing: border-box;
}
